
div {
    border: 1px solid gray;
    padding: 8px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
.myparagraph {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
#myid{
    text-decoration: none;
    color: #e71f1f;
}

